.details-poster {
    width: 200px;
    height: 300px;
  
  }

  .movieDetailsCard {
    margin: 50px auto;
    width: 40%;
    border: 5px solid green;
    padding: 15px;
    border-radius: 15% 3% 15% 3%;
  }

.editButton {
    margin-top: 15px;
}

.genreAdder, .editDescriptionArea {
    display: inline-block;
}