.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.movies img {
    width: 200px;
    height:300px
}

.movieCard {
    width: 250px;
    border: 3px green solid;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
}

.addMovieButton {
    border: 1px solid blue;
    background-color: blue;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    font-size: large;
}